/* Global CSS */

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

:root {
  --grey: #d9d9d9;
  --pink: #f76f73;
  --white: #faf6f6;
}

/* Element specific CSS */

html {
  background-color: var(--grey);
  color: black;
  scroll-padding-top: 153px;
  scroll-behavior: smooth;
}

nav {
  font-size: 1.2rem;
  display: block;
  margin-top: 90px;
}

nav > ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

nav a {
  color: var(--pink);
  text-decoration: none;
}

nav > a:hover {
  background-color: var(--pink);
  color: var(--grey);
}

/* Class specific Css */

.ex-link {
  margin-left: 20px;
}

.sub-heading {
  font-size: 1.3rem;
  text-align: right;
  padding-right: 15px;
}

.sub-heading h2 {
  font-weight: normal;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  border-right: 2.5px solid var(--pink);
  padding-right: 20px;
}

.logo > img {
  width: 100%;
  height: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: left;
  text-align: center;
  margin-left: 20px;
}

.work-title {
  width: auto;
  margin: auto;
  position: absolute;
  bottom: 30px;
  background-color: var(--white);
  padding: 5px;
}

.work-title h3 {
  font-size: 1.3rem;
  font-weight: normal;
}

.work-subtitle {
  font-weight: normal;
  font-size: 1rem;
}

.work-image {
  width: 100%;
  height: 100%;
}

/* ID specific CSS */

#header {
  background-color: var(--grey);
  position: fixed;
  top: 0px;
  height: 158px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 5px solid var(--white);
  z-index: 100;
}

#container {
  position: relative;
  margin-top: 152px;
  width: 100%;
  height: 200px;
  background-image: url(./images/hero\ background.jpeg);
}

#slogan {
  display: inline;
  color: var(--grey);
  background-color: var(--pink);
  position: absolute;
  right: 0px;
  bottom: 20px;
  padding-right: 40px;
  padding-left: 20px;
  font-weight: normal;
}

#about {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 200px;
  grid-template-areas: "about-sh bio bio bio bio";
  padding: 10px 20px;
  margin-bottom: 20px;
}

#about-sh {
  grid-area: about-sh;
}

#bio {
  margin-left: 20px;
  grid-area: bio;
  display: grid;
  grid-template-columns: 1fr 1fr 200px;
  grid-template-rows: 200px;
  grid-template-areas: "text text picture";
  border: 1px solid black;
}

#text {
  grid-area: text;
  border: 1px solid black;
  margin-right: 10px;
}

#picture {
  grid-area: picture;
  border: 1px solid black;
  margin-left: 10px;
  background-image: url(/assets/images/profile.jpg);
  background-position: top;
  background-size: cover;
}

#work {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 200px 200px 200px;
  grid-template-areas:
    "work-sh main main main main"
    "work-sh main main main main"
    "work-sh second second third third";
  padding: 10px 20px;
  margin-bottom: 20px;
}

#work-sh {
  grid-area: work-sh;
}

#main-link {
  border: 2.5px solid var(--white);
  margin-left: 20px;
  grid-area: main;
  margin-bottom: 10px;
  position: relative;
}

#link2 {
  border: 2.5px solid var(--white);
  margin-left: 20px;
  grid-area: second;
  position: relative;
}

#link3 {
  border: 2.5px solid var(--white);
  margin-left: 20px;
  grid-area: third;
  position: relative;
}

#contact {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 55.5px;
  grid-template-areas: "contact-sh links";
  padding: 10px 20px;
}

#contact-links {
  grid-area: links;
  display: flex;
  justify-content: space-evenly;
}

#email {
  grid-area: email;
}

#contact-links img {
  max-height: 100%;
  margin: auto;
}

#contact-sh {
  grid-area: contact-sh;
}
